{% extends "base.html" %}

{% block media %}
  {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
  {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
  <div id="common-content" class="{% block common_content_class %}{% endblock %}">
    <div id="content-right">
      <div class="info-float">{% block info_float %}{% endblock %}</div>
    </div>
    <div id="content-left" class="split-common-content">
      <div class="content-description screen">
        {% block description %}{% endblock %}
        {% block description_end %}
        {% endblock %}
      </div>
      {% block post_description_end %}{% endblock %}
      {% block comments %}{% endblock %}
    </div>
    {# Rendered last on purpose: #common-content is flex-direction:row-reverse,
       so the last child is the leftmost column. #}
    {% block content_left_sidebar %}{% endblock %}
  </div>
{% endblock %}