{% set no_left_sidebar = true %}
{% extends "blog/list.html" %}
{% block before_posts %}
  {% include "home/hero.html" %}
  {% if i18n_config.home_page_top %}
    {{ render_django(i18n_config.home_page_top, request=request, user_count=user_count, problem_count=problem_count, submission_count=submission_count, language_count=language_count, perms=perms) }}
  {% endif %}
{% endblock %}

{# Two-column home: no left sidebar; the nav bar already carries these links. #}
{% block left_sidebar %}{% endblock %}

{% block right_sidebar %}
  <div class="right-sidebar">
    {% include 'top-users.html' %}
    {% include 'contests-countdown.html' %}
    {% include 'top-contributors.html' %}
    {% include 'comment-stream.html' %}
  </div>
{% endblock %}

{# Simplified homepage: no tabs, no sort dropdown, just the feed #}
{% block js_media %}
  {% include "comments/editor-libs-js.html" %}
  {% include "actionbar/media-js.html" %}
  {% include "feed/feed_js.html" %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.time-remaining').each(function () {
        count_down($(this));
      });
    });
  </script>
{% endblock %}

{% block middle_content %}
  {% if feed_items %}
    {% include "home/feed-content.html" %}
  {% else %}
    {% include "blog/content.html" %}
  {% endif %}
{% endblock %}

{% block meta %}
  {% if i18n_config.meta_description %}
    <meta name="description" content="{{ i18n_config['meta_description'] }}">
  {% endif %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "{{ DMOJ_SCHEME }}://{{ site.domain }}/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ DMOJ_SCHEME }}://{{ site.domain }}/problems/?search={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
{% endblock %}
